#  Scatterplot Matrices

In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix

In [2]:
import altair as alt

# Starting with altair v4, enabling a notebook renderer is no longer necessary: alt.renderers.enable('notebook') 
alt.__version__

'4.1.0'

In [3]:
import seaborn as sns
sns.set(style="ticks") # use ticks on plot axes

In [4]:
#Switch to Jupyter Notebook mode of matplotlib (pandas is using matplotlib for the scatterplot matrix)
%matplotlib inline

In [5]:
df = pd.read_csv('./soccer.csv')  # Load the dataset

In [6]:
# Inspect the dataset 
# See https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
df.dtypes # No semicolon to see the output in the notebook

player             object
age                 int64
current_club       object
current_league     object
foot               object
height              int64
nationality        object
position           object
games12           float64
games13           float64
games14           float64
games15           float64
games16           float64
games17           float64
goals12           float64
goals13           float64
goals14           float64
goals15           float64
goals16           float64
goals17           float64
minutes12         float64
minutes13         float64
minutes14         float64
minutes15         float64
minutes16         float64
minutes17         float64
assists12         float64
assists13         float64
assists14         float64
assists15         float64
assists16         float64
assists17         float64
dtype: object

In [7]:
# Take a glimpse into the data
df.head() # No semicolon to see the output in the notebook

,player,age,current_club,current_league,foot,height,nationality,position,games12,games13,...,minutes14,minutes15,minutes16,minutes17,assists12,assists13,assists14,assists15,assists16,assists17
0,Dmitri Poloz,26,Zenit St. Petersburg,RUS - Premier Liga,right,183,Russia,W,22.0,30.0,...,1522.0,2132.0,2987.0,1194.0,1.0,4.0,2.0,6.0,8.0,7.0
1,Emiliano Rigoni,25,Zenit St. Petersburg,RUS - Premier Liga,both,180,Argentina Italy,W,NaN,26.0,...,2832.0,1533.0,2427.0,1433.0,NaN,0.0,6.0,6.0,2.0,3.0
2,Sebastián Driussi,22,Zenit St. Petersburg,RUS - Premier Liga,both,179,Argentina Italy,CF,NaN,7.0,...,2231.0,914.0,2517.0,1571.0,NaN,0.0,4.0,1.0,3.0,4.0
3,Aleksandr Kokorin,26,Zenit St. Petersburg,RUS - Premier Liga,right,183,Russia,CF,26.0,23.0,...,2785.0,1424.0,2889.0,2911.0,5.0,9.0,7.0,3.0,7.0,4.0
4,Anton Zabolotnyi,26,Zenit St. Petersburg,RUS - Premier Liga,right,188,Russia,CF,5.0,26.0,...,NaN,1500.0,2562.0,2019.0,0.0,1.0,NaN,3.0,5.0,2.0

Hint: Pandas offers [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) function to filter out missing data.

## Task: Scatterplot Matrix
### Simple Scatterplot Matrix
Select more than two attributes attributes (e.g., those of 2017) and create a scatterplot matrix (e.g., with [pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.plotting.scatter_matrix.html) or [altair](https://altair-viz.github.io/gallery/scatter_matrix.html)).

In [8]:
# TODO

### Colored Scatterplot Matrix
Select a categorical attribute and encode its values with color in the scatterplot matrix (e.g. with [altair](https://altair-viz.github.io/gallery/scatter_matrix.html) again or [seaborn pairplot](https://seaborn.pydata.org/generated/seaborn.pairplot.html#seaborn.pairplot)).

In [9]:
# Plot the selected attributes again and color code the points by position

# TODO

### Interpretation

*TODO*

## Task: Heat Map
Select suitable attributes and visualise the data in a heatmap, e.g. with [seaborn](https://seaborn.pydata.org/generated/seaborn.heatmap.html) or [altair](https://altair-viz.github.io/gallery/simple_heatmap.html).

In [10]:
# TODO

### Interpretation

*TODO*


## Submission
Please download this notebook as HTML (File > Download As... > HTML (.html)) and submit it.